<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <title>D&D 2024 Edition API</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav id="home-nav">
            <ul>
                <li><a href="https://github.com/Sliwekok/dnd-api" target="_blank">Documentation</a></li>
                <li><a href="{{ path('docs_index') }}">API</a></li>
                <li><a href="{{ path('index') }}">Home</a></li>
            </ul>
        </nav>

    </body>
</html>
